@page "{scripttag}"
@model FlowProtocol2.Pages.FlowPages.RunModel
@{
    ViewData["Title"] = @Model.ScriptName;
}
<h2>Skriptausführung @Model.ScriptName</h2>
@if (@Model.RunContext.InputItems.Any())
{
    @foreach (var k in Model.RunContext.GivenKeys)
    {
        <input type="hidden" asp-for="BoundVars[k]" />
    }
    @if (Model.RunContext.InputItems.Any())
    {
        <form method="post">
            @foreach (var iput in Model.RunContext.InputItems)
            {
                var tiput = iput as Core.InputTextElement;
                @if (tiput != null)
                {
                    <div class="rendered-form">
                        <div class="formbuilder-text form-group">
                            <label for="@tiput.Key" class="formbuilder-text-label">
                                @tiput.Promt
                                <br>
                            </label>
                            <input type="text" class="form-control" access="false" id="@tiput.Key" asp-for="BoundVars[tiput.Key]"
                                maxlength="300">
                        </div>
                    </div>
                    <br>
                }
            }
            <button type="submit" class="btn btn-primary">Weiter</button>
        </form>
    }
}
else
{
    <h4>Ausgabe</h4>
    @foreach (var oput in Model.RunContext.OutputItems)
    {
        <li>@oput.Text</li>
    }
    <p>
        <a href=@Model.ScriptBaseURL class="btn btn-primary">Neue Ausführung</a>
        <a asp-page="/Index" class="btn btn-primary">Zurück zur Startseite</a>
    </p>
}
