@page
@model FlowProtocol2.Pages.FlowPages.ScriptGroupsModel
@{
    ViewData["Title"] = "Skriptgruppen";
}
<h2>Skriptgruppen</h2>
@if (Model.ScriptPathFound && Model.ScriptGroupList != null)
{
    <p>Wählen Sie eine Skriptgruppe aus</p>
    <div class="container">
        @for (int row = 0; row < Model.ScriptGroupList.Rows; row++)
        {
            @switch (Model.ScriptGroupList.Cols)
            {
                case 1:
                    <div class="row">
                        <div class="col-md-12">
                            <h5>
                                <a asp-page="./Scripts"
                                    asp-route-groupname="@Model.ScriptGroupList.Tabarray[row,0].Link">@Model.ScriptGroupList.Tabarray[row,0].ShowText</a>
                            </h5>
                        </div>
                    </div>
                    break;
                case 2:
                    <div class="row">
                        <div class="col-md-6">
                            <h5>
                                <a asp-page="./Scripts"
                                    asp-route-groupname="@Model.ScriptGroupList.Tabarray[row,0].Link">@Model.ScriptGroupList.Tabarray[row,0].ShowText</a>
                            </h5>
                        </div>
                        <div class="col-md-6">
                            <h5>
                                <a asp-page="./Scripts"
                                    asp-route-groupname="@Model.ScriptGroupList.Tabarray[row,1].Link">@Model.ScriptGroupList.Tabarray[row,1].ShowText</a>
                            </h5>
                        </div>
                    </div>
                    break;
                default:
                    <div class="row">
                        <div class="col-md-4">
                            <h5>
                                <a asp-page="./Scripts"
                                    asp-route-groupname="@Model.ScriptGroupList.Tabarray[row,0].Link">@Model.ScriptGroupList.Tabarray[row,0].ShowText</a>
                            </h5>
                        </div>
                        <div class="col-md-4">
                            <h5>
                                <a asp-page="./Scripts"
                                    asp-route-groupname="@Model.ScriptGroupList.Tabarray[row,1].Link">@Model.ScriptGroupList.Tabarray[row,1].ShowText</a>
                            </h5>
                        </div>
                        <div class="col-md-4">
                            <h5>
                                <a asp-page="./Scripts"
                                    asp-route-groupname="@Model.ScriptGroupList.Tabarray[row,2].Link">@Model.ScriptGroupList.Tabarray[row,2].ShowText</a>
                            </h5>
                        </div>
                    </div>
                    break;
            }
        }
    </div>
}
else
{
    <p>Das Skriptverzeichnis @Model.ScriptPath wurde nicht gefunden. Bitte prüfen Sie die Einstellung ScriptPath in
        der Datei appsettings.json.</p>
}
